/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Room List Styles */
  #room-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .room-item {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
  }
  
  /* Reservation Styles */
  #reservation {
    display: none;
  }
  
  #reservation-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  #reservation-form label,
  #reservation-form input,
  #reservation-form select {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  
  #reservation-form input[type='submit'] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  /* Booking History Styles */
  #booking-history {
    display: none;
  }
  
  /* Navigation Styles */
  nav {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
